*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: rgba(255, 255, 255, 0.08);
  --coding-green: #25f284;
  --coding-blue: #00e7ff;
  --coding-red: red;
  --coding-yellow: #f2f91c;
  --global-size: 10vh;
  --global-size-grown: 30vh;
  --video-color: #FBD38D;
  --audio-color: #90CDF4;
}

.green {
  color: var(--coding-green);
}

.blue {
  color: var(--coding-blue);
}

.red {
  color: red;
}

.yellow {
  color: var(--coding-yellow);
}

.background {
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

#global-model {
  position: absolute;
  top: 12.5vh;
  right: 12.5vh;
  height: var(--global-size);
  width: var(--global-size);
  border-radius: var(--global-size);
  background-color: black;
  z-index: 5;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.6);
  transition: 1000ms ease-in-out;
}

#global-model.active {
  -webkit-box-shadow: 0 0 50px blue;
  -moz-box-shadow: 0 0 50px blue;
  box-shadow: 0 0 50px blue;
  height: var(--global-size-grown);
  width: var(--global-size-grown);
  border-radius: var(--global-size-grown);
  z-index: 999;
}

.global-curve {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
  color: white;
  margin: 25% 10%;
}

#myChart {
  align-self: center;
  transition: 10ms ease-in-out;
}

.clock {
  position: absolute;
  bottom: 12vh;
  right: 14vh;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.day-wrap {
  max-height: 3vh;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-top: 3px solid white;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* #sun-and-moon{
  display: flex;
  transform: translateY(3rem) rotate(45deg) ; 
}

#sun,#moon{
  border-radius: 2rem;
  width: 20px;
  height: 20px;
  margin: 0.5rem 1rem;
  z-index: -5;
}

#sun{
  background-color: orange;
}

#moon{
  background-color: lightgray;
} */

.blurb-wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 15vw;
  margin: 0 5vw 0 5vw;
  color: white;

  text-align: center;
}

.blurb-wrap h1 {
  width: 100%;
  font-size: 1.75rem;
  padding: 0 0.25rem;
  border: 1.5px solid white;
  border-radius: 0.5rem;
}

body {
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.phone-and-blurb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 5vw;
  width: calc(100vw - 90vh);
  max-width: calc(100vw - 90vh);
}

.phone {
  width: 36vh;
  height: 80vh;
  background-color: black;
  border: 2px solid rgb(36, 36, 36);
  border-radius: 4rem;
  margin: 10vh 0;
  font-family: "Inconsolata", monospace;
  font-size: 0.9rem;
}

#terminal-selector {
  height: 100%;
  width: 100%;
}

#terminal-selector.hidden {
  display: none;
}

#UI-selector.hidden {
  display: none;
}

/* MUS EDITS FROM HERE */

#UI-selector {
  background-color: #ffffff;
  border-radius: 4rem;
  z-index: -2;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 20;

  color: #171923;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.notification {
  padding: 0.5rem;
  border: 2px solid white;
  display: flex;
  border-radius: 1rem;
  border-width: 10px;
  border-color: #f7fafc;
  /* background-image: linear-gradient(to bottom right, #fcca7c, #4200fe); */
  background-color: #feebcb;
  width: 90%;
  margin: 0 auto;
  /* font-size: small; */
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.UI-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  z-index: -2;
  max-width: 100%;
}
.image {
  width: 250px;
  display: flex;
  margin: 0 auto;
}

.image-contain {
  object-fit: contain;
  max-width: 90%;
  object-position: center;
}

.notification i {
  /* margin: 0.85rem 1rem 0.5rem 0.5rem; */
  align-self: center;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  transform: scale(1.5);
  color: #dd6b20;
}

.notification h3 {
  margin: auto;
  padding: 0;
  /* font-size: 1rem; */
  font-size: x-small;
  font-weight: 500;
}

.date {
  display: flex;
  /* padding: 2rem 0 1rem 0; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
}

.location-place {
  display: flex;
  /* padding: 2rem 0 1rem 0; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  font-weight: 400;
}
.location-place h5 {
  font-weight: 400;
}
.book-appointment {
  display: flex;
  padding: 1.5rem 0 0.5rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15px;
  font-size: 1.2rem;
}

.date h5 {
  margin: 0 1rem;
  font-size: 0.85rem;
  font-weight: 400;
}

.date img {
  max-height: 14px;
}

.times-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.times-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.time {
  border: 2px solid white;
  background-color: #ebf8ff;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  color: #2a4365;
}

.time:hover {
  cursor: pointer;
  background-color: #aae1ff;
  color: #ebf8ff;
}

.time h5 {
  margin: 0;
  font-size: 0.8rem;
}

/* MUS EDITS TO HERE */

.phone-title-wrap {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: end;
  margin: 1rem;
}

.phone-title {
  margin: 0 auto;
  font-size: 1.75rem;
  padding: 0 0.25rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  width: fit-content;
}

#terminal {
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1rem;
  scrollbar-width: none;
}

#terminal::-webkit-scrollbar {
  display: none;
}

.phone h4 {
  width: 100%;
  margin: auto;
  color: red;
  text-align: center;
  padding: 1rem 0.5rem 0 0;
  margin-bottom: 0.5rem;
}

.phone p {
  color: white;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.box {
  position: absolute;
  width: 80vh;
  height: 80vh;
  border-radius: 2rem;
  background-color: var(--foreground-color);
  right: 10vh;
  top: 10vh;
}

.continue-btn {
  background-color: var(--foreground-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.continue-btn:hover {
  outline: 2px solid white;
  box-shadow: 0px 10px 30px rgba(145, 92, 182, 0.4);
}

.continue-btn h5 {
  opacity: 1;
  color: white;
  font-size: 1.125rem;
  margin: auto;
  text-decoration: none;
}

/* How many seconds per day for each sensor */
/* {'CCTV': 2434.0470742984985, 'Webcam': 1645.7142857142858, 'Phone_Mic': 3000.0} */

.ellipse1 {
  position: absolute;
  left: 80vw;
  top: 50vh;
  width: 10vw;
  height: 12vh;
  border-radius: 50%;
  background: grey;
  opacity: 0.2;
}

.ellipse2 {
  position: absolute;
  left: 65vw;
  top: 65vh;
  width: 5vw;
  height: 12vh;
  border-radius: 50%;
  background: grey;
  opacity: 0.2;
}

.ellipse3 {
  position: absolute;
  left: 55vw;
  top: 29vh;
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  background: grey;
  opacity: 0.2;
}

.symbols{
  display: flex;
  margin: auto;
  position: absolute;
  top: 15vh;
  right: 51vh;
  align-items: center;
  justify-content: center;
}

.symbols img{
  margin-right: 2.5vh;
  opacity: 0.2;
  transform: scale(1.35)
}



#personal.active,#personal-audio.active,#personal-video.active,
#public.active,#public-audio.active,#public-video.active{
  opacity: 1;
}

#ball {
  background-color: var(--coding-yellow);
  opacity: 1;
  z-index: 40;
}

#ball.red {
  background-color: var(--coding-red);
}

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
  opacity: 0.25;
  z-index: 50;
}

.ball.red {
  background-color: rgba(255, 0, 0, 0.7);
}

.hidden {
  display: none;
}


.ball.video-call,.ball.phone-call.CCTV {
  box-shadow: 0 0 0 2px var(--audio-color), 0 0 0 4px var(--video-color);

}

.ball.phone-call{
  box-shadow: 0 0 0 2px var(--audio-color);
}

.ball.CCTV{
  box-shadow: 0 0 0 2px var(--video-color);
}

.spot {
  --x: 50;
  --y: 50;

  position: absolute;
  opacity: 0.1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 5vh;
  top: 17vh;
  height: 5vh;
}
/* 
.red-spot {
  color: red;
  right: 77vh;
}

.green-spot {
  color: green;
  right: 70vh;
}

.blue-spot {
  color: blue;
  right: 63vh;
}

.spot.active {
  opacity: 1;
} */

.memory-wrap {
  margin: 1rem 0;
}

.risk-bar {
  padding: 0rem 1rem;
  color: white;
  background-color: white;
  height: 1rem;
}

.risk-bar.red {
  background-color: red;
}

#vitals {
  color: var(--coding-blue);
}

#risk {
  color: var(--coding-blue);
}

.disease-wrap {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.disease-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.disease-row.hidden {
  display: none;
}

.disease-row p {
  text-align: left;
  width: 60%;
  padding-right: 2rem;
  margin: 0.25rem 0;
}

.disease-row div {
  background: white;
  height: 1rem;
}

.disease-row.danger div {
  background: red;
}

.bar-chart {
  background: white;
  height: 0.5rem;
}

.bar-chart.total {
  background: white;
  height: 1rem;
}

.bar-chart.training {
  background: var(--coding-yellow);
  height: 1rem;
  margin: 1rem;
}

.vitals-row {
  padding: 0 1rem;
  justify-content: space-between;
  display: flex;
}

.vitals-row p {
  padding: 0;
  margin: 0.25rem 0;
}

.blocker {
  display: none;
}

.feedback-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 100vh;
}

.option-wrap {
  display: flex;
  color: white;
  margin-right: 2rem;
}

.option {
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  margin: 0 1rem;
}

.option h3 {
  text-align: center;
}

.stats-row {
  display: flex;
  justify-content: space-between;
}

.stat {
  padding: 0 0.5rem;
  align-items: center;
  text-align: center;
}

.included-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continue-btn.choose {
  width: fit-content;
  text-align: center;
  margin: auto;
}

.checkbox {
  height: 3vh;
  width: 3vh;
}

input[type="checkbox"] {
  /* change "blue" browser chrome to yellow */
  filter: hue-rotate(50deg) brightness(0.9);
}

.continue-btn.choose {
  background-color: var(--foreground-color);
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
}

.continue-btn.choose:hover {
  outline: 2px solid white;
  box-shadow: 0px 10px 30px rgba(145, 92, 182, 0.4);
}

.continue-btn.choose button {
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 801px) {
  .content {
    display: none;
  }

  .blocker {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #fcca7c, #4200fe);
    color: white;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .blocker p {
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
    max-width: 400px;
  }
}
